# See https://help.github.com/ignore-files/ for more about ignoring files.

# misc
.DS_Store
.vscode

# IDE files and directories
.idea/

**/node_modules

# Requests folder for testing api routes with vscode REST
api/requests

# Common MongoDB development database directories
db
api/db

# Local test data
data/